@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

.header,
.footer {
  display: flex;
  background-color: #1F2937;
  margin: 0;
  height: 24px;
  max-height: 24px;
  color: #F9FAF8;
  padding: 16px;
  padding-left: 15%;
  padding-right: 15%;
}

.header {
  justify-content: space-between;
  font-weight: 900;
  font-size: 24px;
  align-items: center;
}

#header-links {
  display: flex;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  list-style: none;
}

.header-link {
  padding: 0px 16px 0px 16px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  padding: 5% 15% 5% 15%;
}

#sec1 {
  flex-wrap: row wrap;
  background-color: #1F2937;
}

#sec1left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 240px;
}

#image-placeholder {
  display: flex;
  min-height: 240px;
  max-height: 240px;
  min-width: 500px;
  max-width: 500px;
  background-color: #8f9091;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

#sec2 {
  background-color: #F9FAF8;
  flex-direction: column;
}

#sec2images {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: lighter;
}

.sec2-img-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 158px;
  margin: 5%;
  font-weight: 200;
}
.sec2-image {
  display: flex;
  border: 4px solid rgb(82, 122, 255);
  border-radius: 12px;
  min-height: 158px;
  max-height: 158px;
  min-width: 150px;
  max-width: 158px;
  margin-bottom: 10%;
}

.imagedesc {
  display: flex;
}

#sec3 {
  background-color: #E5E7EB;
  flex-direction: column;
}

#testimonial {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

#name {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 20px;
}

#sec4 {
  background-color: #F9FAF8;
}

#c2a {
  display: flex;
  flex: 1;
  background-color: #3882F6;
  padding: 5% 13% 5% 13%;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

#sec4text {
  display: flex;
  flex-direction: column;
  color: #F9FAF8;
  gap: 10px;
}

#sec4button {
  border: 2px solid #F9FAF8;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  color: #1b1b1b;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  font-weight: bold;
  color: #F9FAF8;
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
}

.footer {
  justify-content: center;
  align-items: center;
}